body,
html {
    height: 100%;
}

header {
    padding: 10px 0;
    justify-content: space-evenly;
    background-image: linear-gradient(to right bottom, #031633, #2b3e61, #536b93, #7e9dc8, #aad1ff);
}

.main-section {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.barra {
    text-align: left;
}

#create {
    margin-top: 30px;
}

#eliminar {
    float: right;
    margin-top: 15px;
}

.modal-content {
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.username {
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: transparent;
    margin: 0 auto;
    text-align: center;
    /* background-image: url(../img/background.jpg);
    background-position: center; */
    background-size: cover;
    -webkit-text-stroke: 1.5px rgb(5, 154, 253);
    ;
}

.form-group::before {
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 4px;
}

.form-group#user-group::before {
    content: "\f007";
}

.form-group#contrasena-group::before {
    content: "\f023";
}

button {
    width: 60%;
    margin: 5px 0 25px;
}

.forgot {
    padding: 5px 0;
}

.forgot a {
    color: white;
}

#new-icon {
    font-size: 1.5em;
}

#delete-icon {
    font-size: 1.5em;
}

#delete-icon2 {
    font-size: 1.5em;
}

.control_panel {
    background-color: #dfdfdf;
    text-align: center;
}

.btn_control_panel {
    margin: 25px 0px;
}

.extension {
    margin-top: 30px;
}

.nav-link {
    text-align: end;
}

#btn-enviar {
    margin-top: 15px;
    width: 100%;
}

#btn-eliminar {
    margin-top: 15px;
    width: 100%;
}

#btn-eliminar2 {
    margin-top: 15px;
    width: 100%;
}

.navbar-brand {
    margin-left: 25px;
}

.logout {
    font-size: 24px;
}

<<<<<<< HEAD
#tabla_inbox {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

#respuesta_inbox {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
=======

#tabla_inbox {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#respuesta_inbox {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
>>>>>>> 23d4518fc7a7d4dd3f09de57bc86598f0c1032b9
}

#respuesta_inbox .correo {
    text-align: center;
    display: inline-block;
    margin: 0rem 1rem;
<<<<<<< HEAD
}

#bote {
    width: 80px;
    height: 130px;
=======
>>>>>>> 23d4518fc7a7d4dd3f09de57bc86598f0c1032b9
}